
{{errors}}

<form class="forget-form" action="/forgetpass" method="post">
    <h3>Забыли пароль ?</h3>
    <p>
        Ведите ваш Эл. адрес для восстановления пароля.
    </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email"/>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> Назад </button>
        <button type="submit" class="btn blue pull-right">
            Отправить <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
