
{{#if errors}}
  {{errors}}
{{/if}}



<form class="register-form" action="/auth/local/register" method="post">
    <h3>Регистрация</h3>


    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Имя</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Имя" name="firstname"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Фамилия</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Фамилия" name="lastname"/>
        </div>
    </div>


    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Эл. адрес</label>
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Эл. адрес" name="email"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Пароль</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Пароль" name="password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Повторите ваш пароль</label>
        <div class="controls">
            <div class="input-icon">
                <i class="fa fa-check"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Повторите ваш пароль" name="rpassword"/>
            </div>
        </div>
    </div>

    <div class="form-group">

    <div class="g-recaptcha" data-sitekey="6Lembf8SAAAAAMxUGVQqpAz4CBC3hDCg2ySWXHHG"></div>



    </div>

    <div class="form-group">
        <label>
             Нажимая на кнопку вы соглашаетесь с <a href="javascript:;">
            Правилами использования </a>
            и <a href="javascript:;">
            Политикой безопасности сервиса </a>
        </label>
        <div id="register_tnc_error">
        </div>
    </div>



    <div class="form-actions">
        <button id="register-back-btn" type="button" class="btn">
            <i class="m-icon-swapleft"></i> Назад </button>
        <button type="submit" id="register-submit-btn" class="btn blue pull-right">
            Регистрация <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>

</form>
