
<!-- BEGIN PAGE TITLE -->
<div class="page-title">
    <h1>Все уведомления</h1>
</div>
<!-- END PAGE TITLE -->

<!-- BEGIN PAGE CONTENT-->
    <!-- TIMELINE ITEM -->

<button id="allread" class="btn btn-success">
    Отметить все как Прочитанно </button>

  {{#each notif}}






    <div class="timeline-item">

        <div class="timeline-badge">

           {{#is read true}}


               <span class="label label-success">
									Прочитанно </span>

           {{else}}


               <span class="label label-warning">
									Не прочитанно </span>


           {{/is}}


        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow">
            </div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <span class="timeline-body-title font-blue-madison">{{date}}</span>
                </div>

            </div>
            <div class="timeline-body-content">
							<span class="font-grey-cascade">


							{{text}}
</span>


              <input type="hidden" id="idnotif" value="{{id}}">

                 <button id="oneread" class="btn btn-success">
									Отметить как Прочитанно </button>
            </div>
        </div>
    </div>

    <!-- END TIMELINE ITEM -->

  {{/each}}


</div>
<!-- END PAGE CONTENT-->
