
<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Справочники</h3>
    </div>

    <!-- List group -->
    <ul class="list-group">




        {{#each cataloglist}}


        <li class="list-group-item">


            <a href="{{url}}">{{nameCatalog}}</a>


        </li>

{{/each}}




    </ul>
</div>
