
<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Справочники</h3>
    </div>

    <!-- List group -->
    <ul class="list-group">




        {{#each cataloglist}}


        <li class="list-group-item">

            <form action="/catalogdel" method="post">



                <input type="hidden" name="name" value="{{url}}">


            <a href="{{url}}" style="text-decoration: none; margin-right: 85%">{{nameCatalog}}</a>




            <button type="submit" class="badge badge-danger">
											Удалить </button>

            </form>

        </li>

{{/each}}




    </ul>
</div>
