<!-- full width -->



<!-- BEGIN PAGE CONTENT-->
<div class="tiles">
    <div id="showmodal" class="tile double-down bg-blue-hoki">
        <div class="tile-body">
            <i class="fa fa-bell-o"></i>
        </div>
        <div  class="tile-object">
            <div class="name">
                Создать компанию
            </div>

        </div>
    </div>
    <div class="tile bg-red-sunglo">
        <div class="tile-body">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Демо
            </div>
            <div class="number">
                12
            </div>
        </div>
    </div>
    <div class="tile double selected bg-green-turquoise">
        <div class="corner">
        </div>
        <div class="check">
        </div>
        <div class="tile-body">
            <h4>support@metronic.com</h4>
            <p>
                Re: Metronic v1.2 - Project Update!
            </p>
            <p>
                24 March 2013 12.30PM confirmed for the project plan update meeting...
            </p>
        </div>
        <div class="tile-object">
            <div class="name">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="number">
                14
            </div>
        </div>
    </div>
    <div class="tile selected bg-yellow-saffron">
        <div class="corner">
        </div>
        <div class="tile-body">
            <i class="fa fa-user"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Members
            </div>
            <div class="number">
                452
            </div>
        </div>
    </div>
    <div class="tile double bg-blue-madison">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/profile/photo1.jpg" alt="">
            <h4>Announcements</h4>
            <p>
                Easily style icon color, size, shadow, and anything that's possible with CSS.
            </p>
        </div>
        <div class="tile-object">
            <div class="name">
                Bob Nilson
            </div>
            <div class="number">
                24 Jan 2013
            </div>
        </div>
    </div>
    <div class="tile bg-purple-studio">
        <div class="tile-body">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Orders
            </div>
            <div class="number">
                121
            </div>
        </div>
    </div>
    <div class="tile image selected">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/gallery/image2.jpg" alt="">
        </div>
        <div class="tile-object">
            <div class="name">
                Media
            </div>
        </div>
    </div>
    <div class="tile bg-green-meadow">
        <div class="tile-body">
            <i class="fa fa-comments"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Feedback
            </div>
            <div class="number">
                12
            </div>
        </div>
    </div>
    <div class="tile double bg-grey-cascade">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/profile/photo2.jpg" alt="" class="pull-right">
            <h3>@lisa_wong</h3>
            <p>
                I really love this theme. I look forward to check the next release!
            </p>
        </div>
        <div class="tile-object">
            <div class="name">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="number">
                10:45PM, 23 Jan
            </div>
        </div>
    </div>
    <div class="tile bg-red-intense">
        <div class="tile-body">
            <i class="fa fa-coffee"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Meetups
            </div>
            <div class="number">
                12 Jan
            </div>
        </div>
    </div>
    <div class="tile bg-green">
        <div class="tile-body">
            <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Reports
            </div>
            <div class="number">
            </div>
        </div>
    </div>
    <div class="tile bg-blue-steel">
        <div class="tile-body">
            <i class="fa fa-briefcase"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Documents
            </div>
            <div class="number">
                124
            </div>
        </div>
    </div>
    <div class="tile image double selected">
        <div class="tile-body">
            <img src="../../assets/admin/pages/media/gallery/image4.jpg" alt="">
        </div>
        <div class="tile-object">
            <div class="name">
                Gallery
            </div>
            <div class="number">
                124
            </div>
        </div>
    </div>
    <div class="tile bg-yellow-lemon selected">
        <div class="corner">
        </div>
        <div class="check">
        </div>
        <div class="tile-body">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Settings
            </div>
        </div>
    </div>
    <div class="tile bg-red-sunglo">
        <div class="tile-body">
            <i class="fa fa-plane"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                Projects
            </div>
            <div class="number">
                34
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->





<div id="createcompany" class="modal container fade" tabindex="-1">




    <div class="modal-body">



        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Начало работы с сервисом</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Создать свою компанию</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Присоедениться к компании</a>
                                </li>


                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="/createcompany" method="post" enctype="multipart/form-data">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input name="name" type="text" class="form-control" id="form_control_1">
                                            <label for="form_control_1">Наименование компании</label>
                                            <span class="help-block">Здесь вводятся только буквы</span>
                                        </div>
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input name="bin" type="text" class="form-control" id="form_control_1">
                                            <label for="form_control_1">БИН</label>
                                            <span class="help-block">Здесь вводятся только цифры</span>
                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input name="position" type="text" class="form-control" id="form_control_1">
                                            <label for="form_control_1">Ваша должность</label>
                                            <span class="help-block">Если поле оставить пустым, по умолчанию будет "Генеральный директор"</span>
                                        </div>

                                        <div class="form-group">


                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
														</span>
                                                    </div>
													<span class="input-group-addon btn default btn-file">
													<span class="fileinput-new">
													Выберети логотип </span>
													<span class="fileinput-exists">
													Изменить </span>
													<input type="file" name="logo">
													</span>
                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                        Удалить </a>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="margiv-top-10">
                                            <button type="submit" class="btn green-haze">
                                                Создать компанию </button>

                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <div class="tab-pane" id="tab_1_2">



                                    <div class="form-group">
                                        <label class="control-label">Поиск компаний</label>


                                        <select id="companyid" class="bs-select form-control" data-live-search="true" data-size="8" >

                                          {{#each company}}


                                              <option value="{{id}}">{{name}}</option>

                                          {{/each}}





                                        </select>


                                    </div>




                                    <div class="margiv-top-10">
                                        <button id="sendreq" class="btn green-haze">
                                            Отправить запрос </button>

                                    </div>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->


                                <!-- PRIVACY SETTINGS TAB -->

                                <!-- END PRIVACY SETTINGS TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->















    </div>

</div>



